<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">
	<Properties>
    	<Property name="messagefmt">[%d] [%p] %c{5} [%t] %m%n</Property>
	</Properties>
	
	<Appenders>
	
		<RollingRandomAccessFile name="RollingRandomAccessFileAppender"
			fileName="logs/app.log" filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log">
			<PatternLayout>
				<Pattern>${messagefmt}</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="24" modulate="true" />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20"/>
		</RollingRandomAccessFile>
		
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout pattern="${messagefmt}" />
		</Console>
	</Appenders>
	
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="RollingRandomAccessFileAppender" />
		</Root>
	</Loggers>
</Configuration>